name: "Lint PR"

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize

permissions:
  pull-requests: read

jobs:
  main:
    name: Validate PR title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            fix       # A bug fix for the user, not a fix to a build script
            feat      # A new feature for the user, not a new feature for builds
            docs      # Changes to the documentation
            style     # Formatting, missing semi colons, etc; no production code change
            refactor  # Refactoring production code, eg. renaming a variable
            perf      # Code changes that improve performance
            test      # Adding missing tests, refactoring tests; no production code change
            build     # Changes that affect the build system or external dependencies
            ci        # Changes to our CI configuration files and scripts