name: mypy-check

on:
  push:
    branches: [main]
    paths:
      - "**.py"
  pull_request:
    branches: [main]
    paths:
      - "**.py"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true # Speeds up future runs

      - name: Set up Python
        run: uv python install # Uses the version from your pyproject.toml

      - name: Install Dependencies
        run: uv sync --all-extras --dev

      - name: Run mypy Check
        run: uv run mypy src